.projects__style {
  background-color: var(--mint);
  padding-bottom: 50px;
  scroll-margin-top: 90px;
}
.projects__style h2 {
  text-align: center;
  padding: 50px;
  color: var(--teal);
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px 0;
}
