.project__wrapper {
  width: 350px;
  height: 350px;
  background-color: var(--teal);
  color: var(--mint);
  padding: 40px 30px;
  border-radius: 6px;
  position: relative;
  box-shadow: 0px 8px 63px -11px rgba(0,0,0,0.75);
}
.project__icon {
  display: flex;
  justify-content: right;
  gap: 10px;
  font-size: 24px;
}
.project__wrapper h3 {
  padding: 40px 0 10px;
}
.project__desc {
  text-align: justify;
  font-weight: 300;
  opacity: 0.7;
  font-size: 14px;
}
.project__tech {
  position: absolute;
  bottom: 40px;
  display: flex;
  gap: 10px;
  justify-content: left;
  font-weight: 300;
  font-size: 12px;
}
.icon {
  transition: all .2s ease-in-out;
}

@media screen and (max-width: 1040px) {
  .project__wrapper {
    width: 300px;
    height: 300px;
    padding: 30px 20px;
  }
  .project__wrapper h3 {
    padding: 20px 0 10px;
  }
}