.about__style {
  background-color: var(--mint);
  padding-bottom: 50px;
}
.about__svg {
  height: 300px;
}
.about__svg img {
  width: 100%;
  height: 100%;
}
.about__style {
  scroll-margin-top: 100px;
}
.about__style h2 {
  text-align: center;
  padding: 50px 0;
  color: var(--teal);
}
.about__wrapper {
  display: flex;
  gap: 100px;
}
.about__desc {
  flex-basis: 70%;
  color: var(--teal);
  text-align: justify;
}
.about__style h3 {
  padding: 30px 0;
  text-align: left;
  color: var(--teal);
}
.skills__list {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  flex-wrap: wrap;
}