.header__styled {
  height: calc(100vh - 80px);
  background-color: #d4e8dc;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.header__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 10% 0;
    border-radius: 50%;
    box-shadow: 0px 8px 63px -11px rgba(0,0,0,0.75);
}

.header__info {
  width: 700px;
}

.header__info h1 {
  font-size: 52px;
}
.header__info h2 {
  font-size: 36px;
}
.header__info p {
  text-align: justify;
  width: 400px;
}