.header__styled {
  height: calc(100vh - 80px);
  background-color: var(--mint);
  scroll-margin-top: 100px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.header__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: 10% 0;
    border-radius: 50%;
    box-shadow: 0px 8px 63px -11px rgba(0,0,0,0.75);
}
.header__svg {
  width: 500px;
  height: 500px;
  background-color: var(--mint);
}
.header__svg path {
  background-image: url("../../assets/images/profile.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  fill: var(--teal);
}

.header__info {
  width: 700px;
}

.header__info h1 {
  font-size: 52px;
}
.header__info h2 {
  font-size: 36px;
}
.header__info p {
  text-align: justify;
  width: 400px;
}