.footer__wave {
  background-color: var(--mint);
  position: relative;
  height: 200px;
  width: 100%;
}
.footer__wave svg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.footer {
  background-color: var(--teal);
  color: var(--mint);
  text-align: center;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__wrapper h2 {
  font-weight: 300;
}
.footer ul {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}
.footer__icon {
  font-size: 24px;
  color: var(--mint);
}
.footer li {
  list-style-type: none;
  border: 2px solid var(--mint);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--teal);
  width: 48px;
  height: 48px;
  transition: all .2s ease-in-out;
}
.footer li:hover {
  background-color: var(--lime);
  border: 2px solid var(--lime);
}
.footer li:hover .footer__icon {
  color: var(--teal);
}
.footer__copyright {
  padding-top: 10px;
  font-size: 14px;
}
