* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
em, img, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, details, 
figure, figcaption, footer, header, hgroup, 
menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
:root {
  --teal: #154042;
  --mint: #d5e9dd;
  --lime: #CFFF00;
}

.max-content {
  max-width: 1000px;
  margin: 0 auto;
}

.pl {
  padding-left: 20px;
}

.pr {
  padding-right: 20px;
}

.pt {
  padding-top: 20px;
}

h2.section-title {
  font-size: 42px;
  text-transform: uppercase;
}

@media screen and (max-width: 1040px) {
  .max-content {
    max-width: 100%;
    padding: 0 30px;
  }
}